/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #2F2B2B;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 14px;
	color: #969493;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #810988;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #FFDA14;
}

a:hover {
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header {
	width: 900px;
	height: 115px;
	margin: 0 auto;
	padding: 0px 50px;
}

/* Logo */

#logo {
	float: left;
	width: 250px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
	padding: 30px 0px 0px 0px;
	letter-spacing: -3px;
	font-size: 4.8em;
}

#logo h1 a {
	font-family: 'Trebuchet MS', sans-serif;
	color: #FFFFFF;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

#logo p a {
	color: #FFFFFF;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}

/* Menu */

#menu {
	float: right;
	width: 600px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 70px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 20px;
	margin-right: 1px;
	padding: 0px 15px 15px 15px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', cursive;
	font-size: 13px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: #FFDA14;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding: 30px 30px;
}

/* Content */

#content {
	float: left;
	width: 590px;
	padding: 50px 0px 0px 0px;
}

.post {
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid #3A3636;
}

.post .title {
	margin: 0px;
	padding: 7px 0px 0px 0px;
	letter-spacing: -1px;
}

.post .title a {
	border: none;
	letter-spacing: 1px;
	letter-spacing: -2px;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', cursive;
	font-size: 26px;
	font-weight: normal;
	color: #FFFFFF;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px;
	letter-spacing: 1px;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', cursive;
	font-size: 11px;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
	color: #FFDA14;
}

.post .entry {
	padding: 0px 0px 30px 0px;
	padding-bottom: 20px;
	text-align: justify;
	font-family: 'Trebuchet MS', sans-serif;
	text-transform: none;
	font-size: 16px
}

.links {
	float: right;
	margin: 20px 0px 30px 0px;
	text-align: right;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', cursive;
	font-size: 12px;
	font-weight: normal;
}

.more {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
	margin-right: 30px;
}

.comments {
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
}

.footer, .push{
	height: 41em;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	margin: 0px;
	padding: 30px 0px 0px 0px;
	font-family: 'Trebuchet MS', sans-serif;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px solid #3A3636;
	padding-left: 20px;
	background: url(images/arrow.gif) no-repeat left 13px;
	margin: 0px 30px;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 14px;
	font-weight: normal;
}

#sidebar li li span {
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
}

#sidebar h2 {
	margin: 0px;
	padding: 0px 0px 30px 0px;
	padding-left: 30px;
	letter-spacing: -2px;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Trebuchet MS', cursive;
	font-size: 20px;
	font-weight: normal;
	color: #FFDA14;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
	text-transform: uppercase;
	font-size: 14px;
}

#sidebar a {
	border: none;
	color: #969493;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Three Column Footer Content */

#footer-content {
	border-top: 10px #FF4E00 solid;
	color: #FF4E00;
}

#footer-content a {
	color: #FFFFFF;
}

#footer-bg {
	overflow: hidden;
	width: 890px;
	padding: 40px 55px 30px 55px;
}

#footer-content h2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: Georgia, "Trebuchet MS", Times, serif;
	font-size: 16px;
	font-weight: normal;
	color: #F1AF83;
}

#footer-content ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}

#footer-content li {
	padding: 7px 0px 8px 0px;
}

#footer-content p {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}

#column1 {
	float: left;
	width: 290px;
	margin-right: 30px;
}

#column2 {
	float: left;
	width: 280px;
}

#column3 {
	float: right;
	width: 260px;
}

/* Footer */

#footer {
	position: relative;
	margin-top: 100px;
	clear:both;
}

#footer p {
	margin: 0;
	padding-top: 30px;
	line-height: normal;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

#footer a {
}
