<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>TAB</title>
		<meta name="TAB" content="Fill me in!" />
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag :home %>
		<%= csrf_meta_tags %>
	    <!--[if lt IE 9]>
	  		<script src="//html5shim.googlecode.com/sin/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body onload="Home.draw();">
		<h1>Welcome to the Temporary TAB Hompage!</h1>
		
		<p>This page will contain various links to the various features of TAB that will be merged at a later time into 
			a much shinier page.</p>
			
		<h1>Links</h1>
			<ul>
				<li><%= link_to 'Users', 'users' %></li>
			</ul>
			
		<h1>Some HTML 5 Testing</h1>
			<canvas id="canvas" width="150" height="150"></canvas>
		
		<h1>Interface Testing</h1>
			<canvas id="note_view" width="200" height="200"></canvas>
			
		<footer>
			Test Footer
		</footer>
	</body>
</html>
