<h1>Welcome to the Temporary TAB Hompage!</h1>

<p>This page will contain various links to the various features of TAB that will be merged at a later time into 
	a much shinier page.</p>
	
<h1>Links</h1>
	<ul>
		<li><%= link_to 'Users', 'users' %></li>
	</ul>

