<% content_for :head do %>
	<title>BFF::Change Password</title>
<% end %>

<% content_for :page_title do %>
	Change Password
<% end %>

<% content_for :content do %>
	<%= form_tag :action=>'change_password' do %>
	
		New Password: <%= password_field "user", "password", :size => 20, :value=>"" %><br/>
		
		Confirm Password: <%= password_field "user", "password_confirmation", :size => 20, :value=>"" %><br/>
	
		<%= submit_tag 'Submit' %>
	<% end %>
<% end %>
