<% content_for :head do %>
	<title>BFF::Contact</title>
<% end %>

<%= content_for :page_title do %>
	Contact Us
<% end %>

<% content_for :content do %>
	<div class="one-half">
		<h6 class="line-divider">Have a question, want to report a bug, or have a request?</h6>
		
		<p>Go to our <%= link_to "GitHub Issue Tracker", "https://github.com/uidaho-bsn/BFF/issues"%>, or send us an 
			<%= mail_to "bassoonfingeringfinder@gmail.com", "email", :encode => "hex" %>.</p>
	</div>
	
	<div class="one-half last">
		
	</div>
	
	<div class="clear"></div>
<% end %>
