<% content_for :head do %>
	<title>BFF::Contact</title>
<% end %>

<% content_for :content do %>
	<h6 class="line-divider">Have a question, want to report a bug, or have a request?</h6>
	<p>Go to our <%= link_to "GitHub Issue Trakcer", "https://github.com/Sverk/TAB/issues"%>, or send us an 
		<%= mail_to "cs-tab@uidaho.edu", "email", :encode => "hex" %>.</p>
<% end %>
