<% content_for :head do %>
	<title>BFF:Home</title>
<% end %>

<% content_for :content do %>
	<div data-role="collapsible-set" data-theme="" data-content-theme="">
        <div data-role="collapsible" data-collapsed="false">
            <h3>Announcements</h3>
            <div>
                <p>Currently most features still require an account. Mobile site is still very buggy. Click 
                	<%= link_to "here", {:mobile => 0}, "data-transition" => "none", "data-ajax" => "false" %>
                	to go to the full site</p>
            </div>
        </div>
        <div data-role="collapsible" data-collapsed="true">
            <h3>Updates</h3>
            <div>
        		<h6>Update v0.1.5 4/21/12</h6>
				Changes:
				<div>
					<ul>
						<li>More semi-working mobile pages.</li>
						<li>Better JavaScript for mobile devices. Be warned it may be very unstable though.</li>
					</ul
				</div>
            </div>
        </div>
    </div>
<% end %>
