<% content_for :head do %>
	<title>BFF::Home</title>
<% end %>

<%= content_for :page_title do %>
	Announcements
<% end %>

<% content_for :content do %>
	<p>Currently most features still require an account.</p>
	
	<h6 class="line-divider">Update v0.1.2 4/14/12</h6>
	
	Changes:
	
	<div class="lists-arrow">
		<ul>
			<li>Many Users Fixes</li>
			<li>CSS Fixes</li>
		</ul
	
	<h6 class="line-divider">Update v0.1.2 4/5/12</h6>
	
	Changes:
	
	<div class="lists-arrow">
		<ul>
			<li>Multiple Fingerings</li>
			<li>Searching</li>
		</ul>
	</div>
	
	<h6 class="line-divider">Update v0.1.1 3/30/12</h6>
	
	Changes:
	<div class="lists-arrow">
		<ul>
			<li>User Updates: (All accounts have been reset)</li>
			<li>Fingerings Updates: All entries have been reset, only 1 fingering entry at a time working.</li>
			<li>Various other fixes.</li>
		</ul>
	</div>
<% end %>
