<% content_for :head do %>
	<title>BFF::Home</title>
<% end %>

<%= content_for :page_title do %>
	Warning!!!
<% end %>

<%= content_for :page_subtitle do %>
	Please read before doing anything.
<% end %>

<% content_for :content do %>
	<p>Anything and everything, including created accounts, may not be permanent. These pages are still very much in 
		development and may change greatly. Most things 'should' work properly by the end of March (3/31/12).</p>
<% end %>
