/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.clear
{
	clear: both;
	height: 1px;
}

.inv { display: none; }

.alignleft
{
	float: left;
	margin: 5px 10px 5px 0px;
}

body 
{
	line-height: 1;
	color: #51565b;
	background: #f1f1f1 url(backgrounds/noise.png);
	font-family: Arial, Helvetica, sans-serif;
	font-size:  100%;
}

#status
{
    margin:10px;
    padding:20px;
    background-color:rgb(200,200,200);
    border:1px inset rgb(150,150,150);
    font:10px verdana;
}

.wrapper
{
	width: 966px;
	margin: 0px auto;
	position: relative;
}

#header
{
	height: 117px;
	position: relative;
	z-index: 10;
	background: #2a2d30 url(header_footer/header_glow.png) top center no-repeat;
}

#main
{
	width: 100%;
}

#content
{
	min-height: 400px;
	overflow: hidden;
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 1.5em;
}

#logo
{
	position: absolute;
	top: 35px;
	left: 30px;
}

#content a { color: #37b2d1; }

#content p { margin-bottom: 20px; }

#content .line-divider
{
	clear: both;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6
{ 
	line-height: 1.4em;
	font-family: 'Ubuntu', arial, serif; 
	font-weight: lighter;
}

h1{ font-size: 30px; }
h2{ font-size: 28px; }
h3{ font-size: 26px; }
h4{ font-size: 24px; }
h5{ font-size: 22px; }
h6{ font-size: 20px; }

#page-content
{
	float: left;
	width: 906px;
	margin-left: 30px;
	line-height: 1.5em;
}

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * 
{
	margin:			0;
	padding:		0;
	list-style:		none;
}

.sf-menu { line-height:	1.0; }

.sf-menu ul 
{
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}

.sf-menu ul li { width: 100%; }

.sf-menu li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }

.sf-menu li 
{
	float:			left;
	position:		relative;
}
.sf-menu a 
{
	display:		block;
	position:		relative;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul 
{
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul 
{
	top:			-999em;
}

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul 
{
	left:			10em; /* match ul width */
	top:			0;
}

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul 
{
	top:			-999em;
}

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul 
{
	left:			10em; /* match ul width */
	top:			0;
}

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	/*background: transparent;*/
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
