.one-half,
.one-third,
.two-third,
.three-fourth,
.one-fourth 
{
	float:left;
	margin-right:30px;
	position:relative;
}

.one-half{ width: 438px; }
.one-third{ width: 282px; }
.one-fourth{ width: 204px; }
.two-third{ width: 594px; }
.three-fourth{ width: 672px; }

.last 
{
	clear:right;
	margin-right:0 !important;
}
