.social .ror{      background: url(icons/rails.png); }
.social .email{    background: url(icons/social/email_32.png); }
.social .facebook{ background: url(icons/social/facebook_32.png); }
.social .github{   background: url(icons/social/github_32.png); }
.social .google{   background: url(icons/social/google_32.png); }
.social .twitter{  background: url(icons/social/twitter_32.png); }

.social
{
	position: absolute;
	top: 15px;
	right: 0px;
	display: block;
	overflow: hidden;
}

.social li
{
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

#bottom .social a
{
	display: block;
	width: 32px;
	height: 32px;
	text-indent: -9000px;
}

#bottom .social a:hover { background-position: 0px -32px; }
