body {
  background-color: #FFF;
}

#container {
  width: 90%;
  min-width: none;
  margin: 0 auto;
  background-color: #FFF;
  padding: 0;
  border: none;
  margin-top: 20px;
}

div.split_fingering {margin-bottom: 20px; text-align:left; display:none;} 
div.split_fingering input {float:left; width:15px !important;}