table, td, th { vertical-align:middle; }

table 
{
	border-spacing:0;
	border-top:1px solid white;
	margin-bottom:28px;
	width:100%;
}

th 
{
	border-top:5px solid #555555;
	color: #ffffff;
	padding:10px;
	text-transform:uppercase;
	background-color: #49494b;
}

td 
{
	width:auto;
	padding:10px;
	white-space: pre;                        /* CSS 2.0 */
	white-space: pre-wrap;                   /* CSS 2.1 */
	white-space: pre-line;                   /* CSS 3.0 */
	white-space: -pre-wrap;                  /* Opera 4-6 */
	white-space: -o-pre-wrap;                /* Opera 7 */
	white-space: -moz-pre-wrap;              /* Mozilla */
	/*white-space: -hp-pre-wrap;               /* HP Printers */
	white-space: -moz-pre-wrap !important;   /* Mozilla*/
	word-wrap: break-word;                   /* IE 5+ */
	/*word-break: break-all;*/
}

td, th { border-bottom: 1px solid #1f1f1f; text-align:center;}

tr {width:auto;}
tr.unapproved {border-left:4px solid red;}

table.fingering-info td:first-of-type {text-align:left;}
tablw.fingering-info td:last-of-type {text-align:center;}