<ul style="list-style-type:disc;text-align:left;">
<li>In edit or add you can click the keys to change the key's status.</li>
<li>In edit or add you can click on the staff to change the note.</li>
<li>In edit or add you can click on the current note to change its tone.</li>
<li>In edit or add you can click the clef to change the range of notes available.</li>
<li>In edit or add clicking "Add Note to Fingering" will add another note to the chart. This is to be used to show how to go from one note to another. You can click "Remove Note from Fingering" to remove the second note.</li>
<li>Clicking on "Legend" will show an explanation of the keys and their various states.</li>
</ul>
