<% content_for :head do %>
	<title>TAB::New Fingering</title>
	<%= javascript_include_tag :fingerings %>
<% end %>

<% content_for :header do %>
	<a href="index.html"><img id="" src="" alt="" /></a>
	<%= render "layouts/login" %>
<% end %>

<%= content_for :headline do %>
	<div id="headline">
		<span class="main">Enter a new fingering:</span>
	</div>
<% end %>

<%= content_for :onactions do %><% end %>

<% content_for :content do %>
	<canvas id="fingering_view" width="200" height="300">
    	<p>Unfortunately, your browser is currently unsupported by our web 
        	application. We are sorry for the inconvenience. Please use one of the 
        	supported browsers listed below. </p>
        <p>Supported browsers: 
        	<a href="http://www.mozilla.com">Firefox</a> <br />
        	<a href="www.google.com/chrome">Chrome</a> </p>
	</canvas>
	<div id="status"></div>
<% end %>
