<div id="bottom-text">
	2012 Team TAB. CSS Template by <a href="http://www.luiszuno.com"> Luiszuno.com</a> 
</div>
<ul class="social ">
	<li><a href="http://rubyonrails.org/" class="poshytip ror" title="Ruby on Rails"></a></li>
	<li><%= mail_to "bassoonfingeringfinder@gmail.com", "", :encode => "hex", :class => "poshytip email", "title" => "Email" %></li>
	<%#<li><a href="" class="poshytip facebook" title="Facebook"></a></li>%>
	<li><a href="https://github.com/uidaho-bsn/BFF" class="poshytip github" title="GitHub"></a></li>
	<%#<li><a href="" class="poshytip google" title="Google+"></a></li>%>
	<%#<li><a href="" class="poshytip twitter" title="Twitter"></a></li>%>
</ul>
<div id="to-top" title="To top" onclick="window.scrollTo(0,0)"></div>
