<div id="bottom">
	<div class="wrapper">
		<div id="bottom-text">
			2012 Team TAB. Template by <a href="http://www.luiszuno.com"> Luiszuno.com</a> 
		</div>
		<ul class="social ">
			<li><a href="http://rubyonrails.org/"><% image_tag "icons/rails.png"%></a></li>
			<li><%= mail_to "cs-tab@uidaho.edu", "", :encode => "hex", :class => "poshytip email", "title" => "Email" %></li>
			<li><a href="" class="poshytip facebook" title="Facebook"></a></li>
			<li><a href="https://github.com/Sverk/TAB" class="poshytip github" title="GitHub"></a></li>
			<li><a href="" class="poshytip google" title="Google+"></a></li>
			<li><a href="" class="poshytip twitter" title="Twitter"></a></li>
		</ul>
		<div id="to-top" class="poshytip" title="To top"></div>
	</div>
</div>