<div id="bottom">
	<div class="wrapper">
		<div id="bottom-text">
			2012 Team TAB. Template by <a href="http://www.luiszuno.com"> Luiszuno.com</a> 
		</div>
		<ul class="social ">
			<li><a href="https://github.com/Sverk/TAB" class="poshytip  github" title="GitHub"></a></li>
		</ul>
		<div id="to-top" class="poshytip" title="To top"></div>
	</div>
</div>