<div id="footer">
	<div class="wrapper">
		<ul id="footer-cols">
			<li class="col">
				<h6>Pages</h6>
				<ul>
					<li class="page_item"><a href="index.html">Home</a></li>
					<li class="page_item"><a href="">Contact</a></li>
				</ul>
			</li>
			<li class="col">
				<h6>Links</h6>
				<ul>
					<li class="page_item"><a href="https://github.com/Sverk/TAB/issues">Report a Bug</a></li>
					<% if mobile_device? %>
						<li class="page_item"><%= link_to "Full Site", :mobile => 0 %></li>
					<% else %>
						<li class="page_item"><%= link_to "Mobile Site", :mobile => 1 %></li>
					<% end %>
				</ul>
			</li>
			<li class="col">
				<h6>About</h6>
			</li>
		</ul>
	</div>
</div>