<div id="menu">
	<div id="menu-holder">
		<div class="wrapper">
			<ul id="nav" class="sf-menu">
				<li class="current-menu-item"><a href="#">Home</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
	</div>
</div>